:root {
    --text-margin: 80%;
    --space-bottom: 2rem;
    --max-width: 38rem;
}

.purple {
    color: var(--secondary-color);
}

header.page, header.about {
    height: initial;
    max-height: initial;
    background-image: none;   
    background: var(--white); 
}

header.page {
    padding-top: var(--nav-bar-height);
    background-image: url(../img/snapsack/snapsack-bg-small.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 80%; 
    text-align: center;
}

.page img {
    width: var(--text-margin);
    max-width: var(--max-width);
    margin: 0 auto;
    padding-bottom: var(--space-bottom);
}

.page h1, .page h3, .page h4, .page p  {
    width: var(--text-margin);
    max-width: var(--max-width);
    padding-bottom: var(--space-bottom);
    margin: 0 auto;
}

.page {
    text-align: center;
}

.page h1 {
    text-align: center;
}

.page h3, .page h4, .page h5, .page p {
    text-align: left;
}

.page button {
    margin: 0 auto;
    margin-bottom: 0.5rem;
}

.page img {
    width: 85%;
    max-width: 48rem;
    margin: 0 auto;
}

.page img.small-img {
    max-width: 24rem;
}

.summary h3 {
    color: var(--secondary-color);
}

.substep {
    margin-bottom: 6rem;
}

.two-col {
    margin: 0 auto;
    padding-bottom: 1rem;
    padding-top: var(--space-bottom);
}

.space-between {
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.problem-solution {
    background: var(--neutral-light);
}

.summary .lists {
    /*background: yellow;*/
    width: 100%;
    max-width: 48rem;
    min-width: 24rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-bottom: var(--space-bottom);
}

.summary .list {
    width: var(--text-margin);
    margin: 0 auto;
}

.summary .list h4, .summary .list p {
    display: inline-flex;
}

.summary .list h4 {
    width: 100%;
    color: var(--secondary-color);
    margin-bottom: -1.5rem;
}

.summary .list p {
    width: 100%;
}

.highlights {
    background: var(--neutral-light);
    margin-bottom: var(--space-bottom);
}

.highlights h1 {
    color: var(--secondary-color);
    margin-bottom: -2rem;
    text-align: left;
    font-size: 3rem;
}

.highlights .info-bit {
    width: 16rem;
    margin: 0 auto;
}

.teal {
    color: var(--complement1);
}

.focus {
    width: 90%;
    max-width: 40rem;
    margin: 0 auto;
    margin-bottom: var(--space-bottom);
}

.focus h5 {
    color: var(--secondary-color);
    margin-bottom: 0.5rem;
}

.focus-body {
    background: var(--neutral-light);
    border-left: 8px solid var(--secondary-color);
    padding-top: var(--space-bottom);
}

.focus-list {
    padding-bottom: 1.5rem;   
}

.focus p {
    width: 90%;
}

.full-span-img {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    min-height: 24rem;
    margin-top: var(--space-bottom);
}

.user-stories .full-span-img {
    background: url(../img/snapsack/user-flows.png);
    background-size: cover;
    background-repeat: no-repeat;
}

img.full-width {
    width: 100%;
    max-width: 100%;
}

@media only screen and (min-width: 500px) {
    header.page {
        background-image: url(../img/snapsack/snapsack-bg.svg);
        background-position-y: 70%; 
    }

    .highlights .two-col{
        width: 65%;
        max-width: var(--max-width);
    }
}

@media only screen and (min-width: 768px) {
    .two-col {
        display: flex;
        flex-direction: row;
    }

    .col-1, .col-2 {
        width: 50%;
    }

    .summary .list h4 {
        width: 25%;
    }

    .summary .list p {
        width: 70%;
    }

    .highlights .info-bit {
        min-height: 12rem;
    }
}

@media only screen and (min-width: 1080px) {
    .two-col {
        max-width: 72rem;
        padding-right: 4rem;
        padding-left: 4rem;
    }
}