header.project-page {
    height: initial;
    max-height: initial;
    background-image: none;   
    background: var(--neutral-light); 
    /*padding-top: calc(var(--nav-bar-height) + 2rem);
    padding-bottom: 2rem;*/
}

header.project-page img {
    width: 80%;
    max-width: 40rem;
    margin: 0 auto;
    padding-top: calc(var(--nav-bar-height) + 2rem);
    padding-bottom: 2rem;
}

header.project-page .text {
    width: 80%;
    max-width: 38rem;
    margin-bottom: 2.5rem;
}

header.project-page .text h1 {
    text-align: center;
    margin-bottom: 1rem;
}

header.project-page .text p {
    margin-bottom: 2rem;
}

header.project-page button {
    margin: 0 auto;
    margin-bottom: 0.5rem;
}

.summary-list {
    width: 20%;
    min-width: 10rem;
    max-width: 15rem;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.summary-list h3 {
    margin-bottom: 1rem;
}

.summary-list .list li p {
    line-height: 150%;
}

.block {
    width: 100%;
    margin: 0 auto;
}

/*main img {
    width: 100%;
    margin-bottom: 1rem;
}*/

main button {
    margin-bottom: 0.5rem;
}

main h3 {
    margin-top: 4rem;
}

.block .text {
    width: 90%;
    max-width: 38rem;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.block img {
    width: 100%;
    max-width: 40rem;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 2rem;
}

img.small-img {
    max-width: 28rem;
}

#snapsack-logo {
    max-width: 24rem;
}

.img-border {
    border: 2px solid var(--neutral-light);
}

.text p {
    margin-top: 1.5rem;
}

.list-in-text p {
    margin-top: -.5rem;
}

.list-in-text h4 {
    margin-bottom: 1rem;
}

.list-in-text {
    width: 90%;
    margin: 0 auto;
    /*margin-bottom: 1.5rem;
    margin-top: 1.5rem;*/
}

h4 {
    color: var(--secondary-color);
}

.raised {
    width: 90%;
    max-width: 44rem;
    margin: 0 auto;
    box-shadow: var(--shadow);
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.wide-raised {
    max-width: 56rem;
    display: flex;
}

.problem-solution {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.raised .small-section {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.small-section h3 {
    margin-top: 0rem;
}

.step-title {
    margin-bottom: 2rem;
}

.purple {
    color: var(--secondary-color);
}

.blue {
    color: var(--complement1);
}

.percent {
    font-size: 3rem;
}

.highlights {
    width: 100%;
    /*background: yellow;*/
    margin: 0 auto;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.stat {
    width: 40%;
    min-width: 10rem;
    padding: 0.5rem;
    margin: 0 auto;
}

.wide-img {
    width: 100%;
    height: 24rem;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 2rem;
}

#user-flows {
    background-image: url("../img/snapsack/user-flows.png");
}

#dashboard-sketches {
    background-image: url("../img/snapsack/dashboard-sketches.png");
}

#logo-sketches {
    background-image: url("../img/snapsack/logo-sketches.jpg");
    background-size: fill;
    background-repeat: no-repeat;
}

/*** MOODBOARD & COLOR PALETTE ***/

#moodboard {
    background-image: url("../img/snapsack/moodboard-crop.png");
}

.palette {
    width: 100%;
    max-width: 36rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.palette li {
    width: 12rem;
    margin: 0 auto;
    align-content: center;
    align-items: center;
}

.color-text p {
    margin-top: -1rem;
    text-align: center;
}

/*.palette p {
    width: 12rem;
}*/

.color-circle {
    width: 5rem;
    height: 5rem;
    margin: 0 auto;
    background: black;
    border-radius: 50%;
    margin-bottom: 1rem;
}

#F6E022 {
    background: #F6E022;
}

#BF4D3C {
    background: #BF4D3C;
}

#c43045F {
    background: #43045F;
}

#FCF6C0 {
    background: #FCF6C0;
    border: 1px solid #1D2B2B;
}

#c77647A {
    background: #77647A;
}

#c1D2B2B {
    background: #1D2B2B;
}

.half-page .raised {
    max-width: 42rem;
}

.mobile-img {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.mobile-img img {
    width: 45%;
    min-width: 14rem;
    max-width: 16rem;
    display: inline-block;
}

@media only screen and (min-width: 400px) {
    .stat {
        min-width: 11rem;
    }
}

@media only screen and (min-width: 500px) {
    .block {
        width: 80%;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 720px) {
    .summary-list {
        width: 100%;
        min-width: 28rem;
        max-width: 40rem;
        display: flex;
        margin-bottom: 3rem;
    }

    .inline-list {
        width: 50%;
        min-width: 12rem;
        max-width: 16rem;
        display: inline-flex;
        flex-direction: column;
        align-content: center;
        margin: 0 auto; 
    }

    .list-container {
        margin: 0 auto;
    }
    
    .stat {
        max-width: 16rem;
    }

    .block {
        width: 80%;
        margin: 0 auto;
    }

    .list-in-text {
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    #problems-folders {
        margin-top: -2rem;
    }
}

@media only screen and (min-width: 1100px) {
    .step {
        position: absolute;
    }

    .step-title {
        position: relative;
        left: -2rem;
        bottom: 4rem;
    }

    #hifi-title {
        bottom: 2rem;
    }

    .raised .small-section {
        width: 40%;
        min-width: 12rem;
        margin: 0 auto;
    }

    /*#moodboard {
        width: 75%;
        max-width: 50rem;
        margin: 0 auto;
    }*/
    
    /*.half-page {
        height: 36rem;
        width: 100%;
        background: yellow;
    }

    #moodboard {
        width: 50%;
        height: 100%;
        display: inline-block;
    }

    .half-page .raised {
        width: 25%;
        display: inline-block;
    }*/
}

@media only screen and (min-width: 1700px) {

    .step-title {
        left: 8rem;
    }

    .wide-img {
        max-width: 64rem;
        margin: 0 auto;
        margin-bottom: 2rem;
    }
}