:root {
    --primary-color: #FAD9DB;
    /*--secondary-color: #6D4D96;*/
    --secondary-color: #3F3B43;
    /*--complement1: #49ADA4;*/
    --complement1: #E4F3F2;
    --complement2: #2378BA;
    --neutral-dark: #3F3B43;
    --neutral-light: #FAF3F0;
    --neutral-light-2: #D0CAD7;
    --neutral-medium: #898293;
    --white: #fff;
    --snapsack-bg: #FCF6C0;
    --shadow: 0px 2px 4px rgba(41, 25, 47, 0.25);
    --focus: 0px 2px 4px rgba(250, 217, 219, 1.00);
    --nav-bar-height: 8rem;
    --mobile-margin: 80%;
    --in-between: 4rem;
}

html {
    -webkit-text-size-adjust: 100%;
}

body {
    width: 100%;
    font-size: 11pt;
    /*background: var(--neutral-light);*/
}


h1, 
h2, 
h3, 
h4, 
h5, 
p {
    color: var(--neutral-dark);
    font-weight: 500;
}

h1,
h2,
h3,
h4,
ol.list li {
    font-family: 'Work Sans', sans-serif;
    line-height: 125%;
}

h5,
p {
    font-family: 'Space Mono', monospace;
}

h1 {
    font-size: 2.25em;
    font-weight: 600;
}

h2 {
    font-size: 1.688em;
    font-weight: 500;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

h4 {
    font-size: 1.333em;
    margin-bottom: 0.25em;
}

h5 {
    font-size: 1.125em;
    line-height: 150%;
}

a {
    text-decoration: none;
}

.italic {
    font-style: italic;
}

.link {
    text-decoration: underline;
    cursor: pointer;
    color: var(--neutral-medium);
}

.link:hover {
    color: var(--complement1);
}

footer .link {
    color: var(--primary-color);
}

#scroll-down {
    position: absolute;
    z-index: 3;
    width: 14rem;
    text-align: center;
    left: 50%;
    top: 70%;
    margin-left: -7rem;
}

#scroll-down.link {
    text-decoration: none; 
}

#scroll-down.link p {
}

#scroll-down.link p:hover {
    color: var(--complement1);
}

p {
    line-height: 175%;
    margin-bottom: 1rem;
}

em {
    font-weight: 700;
}

button {
    display: block;
    font-size: 0.889em;
    font-family: 'Work Sans', sans-serif;
    background: var(--complement1);
    padding: 0.75rem 1.25rem 0.75rem 1.25rem;
    width: 60%;
    min-width: 16rem;
    max-width: 18rem;
    margin: 0 auto;
}

button:focus {
    outline: 0;
    outline: 2px solid var(--neutral-medium);
}


button.active {
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
}

button.active:hover {
    background-color: var(--secondary-color);
    color: var(--white);
    cursor: pointer;
}

button.inactive {
    background-color: var(--white);
    color: var(--neutral-dark);
    border: 2px solid var(--neutral-dark);
}

ul.list, ol.list {
    display: initial;
    padding: 0;
    list-style: initial;
}

ol.list li {
    margin-left: 3rem;
}

ul.list li {
    color: var(--secondary-color);
    margin-left: 2.5rem;  
}

ul.list li, ol.list li {
    margin-bottom: -1.5rem;
}

ul.list {
	position: relative;
	list-style: none;
}
ul.list li:before {
    content: "+";
    font-weight: 700;
	position: absolute;
    left: 2rem;
    margin-top: 0.25rem;
}

ol.list li {
    list-style: decimal;
    color: var(--secondary-color);
}

.list li p {
    line-height: 175%;
}

/**** HERO ****/
header {
    height: auto;
    /*min-height: 38rem;*/
    /*max-height: 42rem;*/
    width: 100%;
    background-color: var(--white);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    /*background-image: url("../img/hero-bg-small.svg");*/
    background-position: center 20%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: var(--nav-bar-height);
}

header .text {
    width: 90%;
    max-width: 32rem;
    margin: 0 auto;
    text-align: center;
}

header .hero-img.large {
    display: none;
}

header .hero-img.med {
    display: none;
}

/*.swirl-1 .small, 
.swirl-2 .small,
.swirl-1 .large, 
.swirl-2 .large,
.swirl-1 .medium,
.swirl-2 .medium,
.swirl-1 .small-medium {
    position: absolute;
}

.swirl-1 .large, 
.swirl-2 .large,
.swirl-1 .medium,
.swirl-2 .medium,
.swirl-1 .small-medium {
    display: none;
}

.swirl-1 .small img {
    width: 100%;
}

.swirl-2 .small img {
    width: 80vw;
}

.swirl-1 .small {
    top: 5vh;
}

.swirl-2 .small {
    right: 0rem;
    bottom: 0vh;
}*/

/**** NAV BAR ****/
nav {
    /*display: none;*/
    position: fixed;
    z-index: 4;
    top: 0;
    width: 100%;
    height: var(--nav-bar-height);
    color: var(--secondary-color);
    background-color: var(--white);
}

.hero-img {
    width: 90vw;
    margin: 0 auto;
}

nav .link {
    text-decoration: none;
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    border-bottom: 3px solid var(--complement1);
}

nav .link:hover {
    color: var(--neutral-dark);
}

#logo {
    margin-left: 2rem;
}

#home {
    /*position: absolute;*/
    width: 100%;
    text-align: center;
    margin-top: 1.75rem;
}

#home img{
    height: 4.5rem;
}

#home, .mobile-menu li{
    display: block;
}

.desktop-menu {
    display: none;
}

.menu {
    float: right;
}

.menu .icon {
    position: absolute;
    right: 0;
    top: 0;
    /*position: absolute;
    right: 0;
    padding-top: 2.5rem;*/
    height: 48px;
}

nav .icon:hover {
    cursor: pointer;
}


nav h4.link {
    color: var(--neutral-dark);
}

.mobile-menu {
    display: none;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    /*background-image: url("../img/planet-small.svg");*/
    background-repeat: no-repeat;
    background-size: 14rem;
    background-position-x: 10%;
    background-position-y: 10%;
    overflow: hidden;
}

.mobile-menu h3 {
    color: var(--neutral-dark);
    /*line-height: 300%;*/
    margin-bottom: 2.5rem;
    text-decoration: none;
}

.mobile-menu p:hover{
    /*background: var(--neutral-dark);*/
}

.mobile-menu ul {
    width: 105%; /* what is adding the extra width? */
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/**** BODY ****/

main {
    margin-bottom: var(--in-between);
}

main h2 {
    text-align: center;
    margin-bottom: 1.5rem;
}

section {
    margin-top: var(--in-between);
}

.heading-divider {
    width: 4rem;
    height: 4px;
    margin: 0 auto;
    background-color: var(--neutral-light-2);
}

.main-heading {
    margin-bottom: var(--in-between);
}

li.project {
    margin-bottom: 3rem;
}

.project h3 {
    margin-bottom: 0em;
}

.project-img {
    width: 100%;
    height: 50vh;
    min-height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#snapsack .project-img {
    background-color: var(--snapsack-bg);
}

#jingle .project-img {
    background-color: #BEE4FF;
}

#assorted .project-img {
    background-color: #FFE6EE;
}

.project-img img {
    width: 100%;
}

.project-desc {
    margin: 0 auto;
    padding: 2em;
}

/**** FOOTER ****/
footer {
    background-color: var(--neutral-dark);
}

#contact {
    width: var(--mobile-margin);
    margin: 0 auto;
    padding-top: var(--in-between);
    padding-bottom: var(--in-between);
}

footer h2, 
footer h4,
footer p {
    color: white;
}

footer h4 {
    margin-bottom: 0rem;
}

.footer-swirl {
    position: relative;
    display: none;
}

.footer-swirl img {
    width: 80vw;
    max-width: 15rem;
    position: absolute;
    right: 0rem;
    bottom: 4rem;

}

.orbit {
    /*width: var(--mobile-margin);*/
    width: 16rem;
    /*max-width: 15rem;*/
    margin: 0 auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.icons {
    position: absolute;
}

.icons img {
    position: relative;
}

.icons #mail {
    left: 7rem;
    bottom: 16rem;
}

.icons #github {
    left: 7rem;
    bottom: 2.5rem;
}

.icons #linkedin {
    bottom: 9.25rem;
    left: 0.5rem;
}

.icons #dribbble {
    bottom: 9.25rem;
    left: 13.5rem;
}

.copyright {
    width: 100%;
    height: 5rem;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.copyright p {
    width: var(--mobile-margin);
    margin: 0 auto;
    text-align: center;
    color: var(--neutral-dark);
}


@media only screen and (min-width: 320px) {

/**** HERO ****/

#scroll-down {
    top: 72%;
}

/**** NAV BAR ****/
nav {
    height: 5rem;
}

/*.menu ul, #home, .menu li{
    padding-right: 1.5rem;
    line-height: 5rem;
}*/

.menu ul{
    line-height: 5rem;
}

.menu li{
    padding-right: 2.5rem;
}

#home {
    margin-top: 1rem;
    left: 50%;
}

#logo {
    margin-top: 1.75rem;
}

#home img{
    height: 3rem;
}

.menu .icon {
    display: block;
    padding-top: 1.5rem; 
    padding-right: 1.5rem;
    height: 32px;
}

@media only screen and (min-width: 375px) {

    /**** HERO ****/
    header {
       /*background-size: 13rem;*/
    }

   header .clouds .left {
       width: 75%;
   }

   #scroll-down {
        top: 70%;
}
}

@media only screen and (min-width: 400px) {
    header .text {
        width: 90%;
        max-width: 32rem;
    }

    .swirl-1 .small {
        top: -2vh;
    }

    #scroll-down {
        top: 72%;
    }
}

@media only screen and (min-width: 500px) {

    h1 {
        font-size: 2.75em;
        /*margin-bottom: -0.1em;*/
        margin-bottom: .1em;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.5em;
    }

    h4 {
        font-size: 1.25em;
    }
    
    header {
        /*background-image: url("../img/hero-bg-med.svg");*/
    }

    header .hero-img.small {
        display: none;
    }
    
    header .hero-img.med {
        display: block;
    }

    .mobile-menu {
        background-size: 16rem;
    }

    #scroll-down {
        top: 70%;
    }

    header .text {
        width: 75%;
        max-width: 32rem;
    }

    .swirl-1 .small {
        display: none;
    }

    .swirl-1 .small-medium {
        display: initial;
    }

    .swirl-1 .small-medium img {
        width: 100%;
    }
    
    .swirl-2 .small img {
        width: 50vw;
    }
    
    .swirl-1 .small-medium {
        top: -2vh;
    }
    
    .swirl-2 .small {
        right: 0rem;
        bottom: 0vh;
    }

    /**** PROJECTS ****/
    .project {
        width: 70%;
        max-width: 24rem;
        margin: 0 auto;
    }
    
    .project-img {
        max-height: 24rem;
    }

    /**** FOOTER ****/
    .galaxy-footer img {
        width: 32rem;
        bottom: -1.5rem;
        left: 22rem;
    }
}

@media only screen and (min-width: 768px) {

    /**** HERO ****/

    header {
        /*background-image: url("../img/hero-bg-med.svg");*/
        background-size: cover;
    }

    #scroll-down {
        top: 65%;
    }

    header .clouds .left {
        width: 45%;
    }

    header .clouds .right {
        visibility: visible;
        width: 65%;
        right: 0;
    }

    header .text {
        width: 70%;
    }

    .hero-img {
        max-width: 56rem;
    }

    header .hero-img.small {
        display: none;
    }

    header .hero-img.large {
        display: block;
    }

    header .hero-img.med {
        display: none;
    }

    .swirl-1 .small-medium {
        top: -1vh;
    }

    .swirl-2 .small img {
        width: 45vw;
    }

    /**** NAV BAR ****/
    nav {
        height: 5rem;
    }

    .menu ul {
        display: block;
    }

    .mobile-menu, .menu .icon {
        display: none;
    }

    .mobile-menu .icon {
        display: initial;
    }

    .mobile-menu p:hover{
        background: var(--neutral-dark);
    }

    .mobile-menu ul {
        width: 105%; /* what is adding the extra width? */
        height: 100vh;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .desktop-menu {
        position: absolute;
        top: 0;
        right: 0;
        display: inline-block;
    }

    .desktop-menu li {
        display: inline-block;
    }

    .desktop-menu p {
        color: var(--neutral-dark);
    }

    #home {
        margin-top: 1rem;
        left: 50%;
    }

    #home img{
        height: 3rem;
    }

    /**** FOOTER ****/
    .orbit {
       float: right;
       margin-top: -6.5rem;
    }

    footer h4, footer h2, footer p {
        width: 45%;
        min-width: 22rem;
        max-width: 32rem;
    }
}

@media only screen and (min-width: 900px) {

    h1 {
        font-size: 3.25em;
        /*margin-bottom: -0.1em;*/
        margin-bottom: .1em;
    }

    h2 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 2em;
    }

    h4 {
        font-size: 1.5em;
    }

    .main-heading {
        margin-top: 8rem;
    }

    .heading-divider {
        width: 4rem;
        height: 4px;
    }
   
    #logo {
        margin-top: 1.75rem;
    }

    /**** HERO ****/
    header h2 {
       width: 100%;
    }

    header h5 {
        max-width: 42rem;
    }

    header {
        /*background-image: url("../img/hero-bg.svg");*/
        background-size: cover;
        background-position-y: 50%;
        /*min-height: 40rem;*/
    }

    header .text {   
        max-width: 36rem;
    }

    .swirl-1 .large, 
    .swirl-2 .large,
    .swirl-1 .small,
    .swirl-2 .small,
    .swirl-1 .small-medium {
        display: none;
    }

    .swirl-1 .medium,
    .swirl-2 .medium {
        display: block;
    } 

    .swirl-1 .medium img {
        width: 100%;
    }

    .swirl-2 .medium img {
        width: 50vw;
    }

    .swirl-1 .medium {
        top: 2vh;
    }

    .swirl-2 .medium {
        right: 0rem;
        bottom: 4vh;
    }

    /**** BODY ****/
    .project {
        min-width: 56rem;
        max-width: 56rem;
        display: flex;
    }

    .project:nth-child(2) {
        flex-direction: row-reverse;
    }

    .project-desc, .project-img {
        width: calc(50% - 3rem);
        vertical-align: middle;
    }

    .project-img {
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .project-img {
        min-height: 24rem;
    }

    /**** FOOTER ****/
    #contact {
        max-width: 50rem;
    }

    .orbit {
        float: right;
        margin-top: -8rem;
    }

    footer h4, footer h2, footer p {
        width: 45%;
        min-width: 28rem;
    }

    .galaxy-footer img {
        width: 40rem;
        bottom: -4rem;
        left: 85%;
    }
}

@media only screen and (min-width: 1366px) {
   
    /**** HERO ****/
   header {
        /*background-image: url("../img/hero-bg.svg");*/
        max-width: 100rem;
        /*max-height: 56rem;*/
        margin: 0 auto;
        margin-top: var(--nav-bar-height);
   }

   /*.swirl-1 .small,
   .swirl-2 .small,
   .swirl-1 .small-medium,
   .swirl-1 .medium,
   .swirl-2 .medium {
       display: none;
   }

   .swirl-1 .large, 
   .swirl-2 .large {
       display: block;
   } 

   .swirl-1 .large img {
        width: 100%;
    }

   .swirl-1 .large {
        top: 4rem;
    }

   .swirl-2 .large {
       right: 0rem;
       bottom: 4rem;
   }*/

   /**** FOOTER ****/
   .galaxy-footer img {
        width: 40rem;
        bottom: -4rem;
        right: 90%;
    }
}

@media only screen and (min-width: 1500px) {

}