:root {
    --primary-color: #FAD9DB;
    --secondary-color: #8866B2;
    --complement1: #49ADA4;
    --complement2: #2378BA;
    --neutral-dark :#29232F;
    --neutral-light: #DDD8E3;
    --white: #fff;
    --shadow: 0px 2px 12px rgba(41, 25, 47, 0.25);
    --nav-bar-height: 8rem;
    --mobile-margin: 80%;
    --in-between: 4rem;
}

body {
    width: 100%;
}

h1, 
h2, 
h3, 
h4, 
h5, 
p {
    color: var(--neutral-dark);
}

h1,
h2,
h3 {
    font-family: 'Chivo', sans-serif;
    line-height: 125%;
}

h4,
h5,
p {
    font-family: 'Space Mono', monospace;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.688em;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

h4 {
    font-size: 1.333em;
    margin-bottom: 0.25em;
}

h5 {
    font-size: 1.125em;
    line-height: 150%;
}

.link, .italic {
    font-style: italic;
}

.link {
    text-decoration: underline;
    color: var(--primary-color);
    cursor: pointer;
}

p {
    line-height: 175%;
    margin-bottom: 1rem;
}

button {
    font-size: 1em;
    font-style: italic;
    font-family: 'Space Mono', monospace;
    background: white;
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    padding: 0.75rem 1.25rem 0.75rem 1.25rem;
    width: 60%;
    min-width: 16rem;
    margin: 0 auto;
}

button:hover {
    background-color: var(--secondary-color);
    color: var(--white);
    cursor: pointer;
}

/**** HERO ****/
header {
    height: 100vh;
    min-height: 32rem;
    max-height: 48rem;
    width: 100%;
    background-color: var(--primary-color);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    outline: 1.333rem solid var(--white);
    outline-offset: -1.25rem;
}

header .text {
    width: 80%;
    margin: 0 auto;
    /*padding-top: var(--nav-bar-height);*/
}

header .clouds {
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: -1.333rem;
    /*background-color: white;*/
}

header .clouds .right {
    display: none;
}

header .clouds .left {
    width: 100vw;
    max-width: 24rem;
}

/**** NAV BAR ****/
nav {
    z-index: 3;
    position: fixed;
    width: 100%;
    height: var(--nav-bar-height);
    background-color: var(--white);
}

nav .link:hover {
    background: var(--primary-color);
    text-decoration: none;
}

#home {
    /*position: absolute;*/
    width: 100%;
    text-align: center;
    margin-top: 1.5rem;
}

#home img{
    height: 4.5rem;
}

#home, .mobile-menu li{
    display: block;
}

.desktop-menu {
    display: none;
}

.menu {
    float: right;
}

.menu .icon {
    position: absolute;
    right: 0;
    top: 0;
    /*position: absolute;
    right: 0;
    padding-top: 2.5rem;*/
    height: 48px;
}

.mobile-menu {
    display: none;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: var(--neutral-dark);
}

.mobile-menu p {
    color: var(--primary-color);
}

.mobile-menu ul {
    width: 105%; /* what is adding the extra width? */
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/**** BODY ****/

main {
    margin-bottom: var(--in-between);
}

main h2 {
    text-align: center;
    margin-bottom: 1.5rem;
}

#projects {
    margin-top: var(--in-between);
}

.heading-divider {
    width: 4rem;
    height: 2px;
    margin: 0 auto;
    background-color: var(--secondary-color);
}

.main-heading {
    margin-bottom: var(--in-between);
}

.project-img {
    width: 100%;
    height: 50vh;
    min-height: 20rem;
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.project-img img {
    width: 100%;
}

.project-desc {
    margin: 0 auto;
    padding: 2em;
}

/**** FOOTER ****/
footer {
    background-color: var(--neutral-dark);
}

#contact {
    width: var(--mobile-margin);
    margin: 0 auto;
    padding-top: var(--in-between);
    padding-bottom: var(--in-between);
}

footer h2, 
footer h4,
footer p {
    color: white;
}

.orbit {
    /*width: var(--mobile-margin);*/
    width: 16rem;
    /*max-width: 15rem;*/
    margin: 0 auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.icons {
    position: absolute;
}

.icons img {
    position: relative;
}

.icons #mail {
    left: 7rem;
    bottom: 16rem;
}

.icons #github {
    left: 7rem;
    bottom: 2.5rem;
}

.icons #linkedin {
    bottom: 9.25rem;
    left: 0.5rem;
}

.icons #dribbble {
    bottom: 9.25rem;
    left: 13.5rem;
}

.copyright {
    width: 100%;
    height: 5rem;
    background: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.copyright p {
    width: var(--mobile-margin);
    margin: 0 auto;
    text-align: center;
    color: var(--neutral-dark);
}

@media only screen and (min-width: 320px) {


/**** NAV BAR ****/
nav {
    height: 5rem;
}

.menu ul, #home, .menu li{
    padding-right: 1.5rem;
    line-height: 5rem;
}

#home {
    margin-top: 1rem;
    left: 50%;
}

#home img{
    height: 3rem;
}

.menu .icon {
    display: block;
    padding-top: 1.5rem; 
    padding-right: 1.5rem;
    height: 32px;
}

@media only screen and (min-width: 500px) {

    h1 {
        font-size: 2.25em;
        margin-bottom: -0.1em;
    }

    /**** PROJECTS ****/
    .project {
        width: 70%;
        max-width: 24rem;
        margin: 0 auto;
    }
    
    .project-img {
        max-height: 24rem;
    }
}

@media only screen and (min-width: 768px) {

    h1 {
        font-size: 3em;
        margin-bottom: -0.1em;
    }

    /**** NAV BAR ****/
    nav {
        height: 5rem;
    }

    .menu ul {
        display: block;
    }

    .mobile-menu, .menu .icon {
        display: none;
    }

    .desktop-menu {
        position: absolute;
        top: 0;
        right: 0;
        display: inline-block;
    }

    .desktop-menu li {
        display: inline-block;
    }

    .desktop-menu p {
        color: var(--neutral-dark);
    }

    #home {
        margin-top: 1rem;
        left: 50%;
    }

    #home img{
        height: 3rem;
    }

    /**** BODY ****/

    /*.project {
        min-width: 90%;
        margin: 0 auto;
        background: yellow;
    }

    .project-desc, .project-img {
        width: calc(50% - 3rem);
        max-width: 24rem;
        display: inline-block;
        vertical-align: middle;
    }*/
}

@media only screen and (min-width: 900px) {
    /**** BODY ****/

    .project {
        min-width: 56rem;
        max-width: 56rem;
        display: flex;
    }

    .project-desc, .project-img {
        width: calc(50% - 3rem);
        vertical-align: middle;
    }

    .project-img {
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .project-img {
        min-height: 24rem;
    }
}