:root {
    --primary-color: #FAD9DB;
    --secondary-color: #6D4D96;
    --complement1: #49ADA4;
    --complement2: #2378BA;
    --neutral-dark :#29232F;
    --neutral-light: #FAF3F0;
    --white: #fff;
    --snapsack-bg: #FCF6C0;
    --shadow: 0px 2px 4px rgba(41, 25, 47, 0.25);
    --nav-bar-height: 8rem;
    --mobile-margin: 80%;
    --in-between: 4rem;
}

body {
    width: 100%;
    font-size: 12pt;
}

h1, 
h2, 
h3, 
h4, 
h5, 
p {
    color: var(--neutral-dark);
}

h1,
h2,
h3,
h4,
ol.list li {
    font-family: 'Chivo', sans-serif;
    line-height: 125%;
}

h5,
p {
    font-family: 'Space Mono', monospace;
}

h1 {
    font-size: 2em;
    /*font-weight: 700;*/
}

h2 {
    font-size: 1.688em;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

h4 {
    font-size: 1.333em;
    margin-bottom: 0.25em;
}

h5 {
    font-size: 1.125em;
    line-height: 150%;
}

a {
    text-decoration: none;
}

.link, .italic {
    font-style: italic;
}

.link {
    text-decoration: underline;
    color: var(--secondary-color);
    cursor: pointer;
}

.link:hover {
    color: var(--complement1);
}

footer .link {
    color: var(--primary-color);
}

#scroll-down {
    position: absolute;
    z-index: 3;
    width: 14rem;
    text-align: center;
    left: 50%;
    top: 70%;
    margin-left: -7rem;
}

#scroll-down.link {
    text-decoration: none; 
}

#scroll-down.link p {
    color: var(--secondary-color);
}

p {
    line-height: 175%;
    margin-bottom: 1rem;
}

em {
    font-weight: 700;
}

button {
    display: block;
    font-size: 0.889em;
    font-style: italic;
    font-family: 'Space Mono', monospace;
    background: white;
    padding: 0.75rem 1.25rem 0.75rem 1.25rem;
    width: 60%;
    min-width: 16rem;
    max-width: 18rem;
    margin: 0 auto;
}

button.active {
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
}

button.active:hover {
    background-color: var(--secondary-color);
    color: var(--white);
    cursor: pointer;
}

button.inactive {
    color: var(--neutral-dark);
    border: 2px solid var(--neutral-dark);
}

ul.list, ol.list {
    display: initial;
    padding: 0;
    list-style: initial;
}

ul.list, ol.list {
    display: initial;
    padding: 0;
    list-style: initial;
}

ul.list li {
    color: var(--secondary-color);
}

ul.list {
	position: relative;
	list-style: none;
	margin-left: 0;
	padding-left: 1.5rem;
}
ul.list li:before {
    content: "+";
    font-weight: 700;
	position: absolute;
    left: -1.5rem;
    margin-top: 0.25rem;
}

ol.list li {
    list-style: decimal;
    color: var(--secondary-color);
    padding-left: 0.75rem;
}

.list li p {
    line-height: 175%;
}

/*.list li {
    margin-left: 1rem;
}

.list li::before {
    content: "+";
    color: var(--secondary-color);
    display: inline-block; 
    width: 0.5em; 
    margin-left: -1rem; 
}*/

/**** HERO ****/
header {
    height: 100vh;
    min-height: 32rem;
    max-height: 44rem;
    width: 100%;
    background: var(--primary-color);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    /*outline: 1.333rem solid var(--white);
    outline-offset: -1.25rem;*/background-image: url("../img/planet-small.svg");
    background-repeat: no-repeat; 
    background-position: center 20%;
    background-size: 10rem;
}

header .text {
    width: 80%;
    margin: 0 auto;
    /*padding-top: var(--nav-bar-height);*/
}

header .clouds {
    z-index: 2;
    width: 100%;
}

/*header .clouds {
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: -1.333rem;
}*/

header .clouds .right, header .clouds .left {
    position: absolute;
    display: inline-block;
    bottom: 0;
}

header .clouds .left {
    width: 100%;
}

header .clouds .right {
    visibility: hidden;
}

/**** NAV BAR ****/
nav {
    z-index: 4;
    position: fixed;
    width: 100%;
    height: var(--nav-bar-height);
    color: var(--secondary-color);
    background-color: var(--neutral-light);
}

nav .link {
    text-decoration: none;
}

#home {
    /*position: absolute;*/
    width: 100%;
    text-align: center;
    margin-top: 1.5rem;
}

#home img{
    height: 4.5rem;
}

#home, .mobile-menu li{
    display: block;
}

.desktop-menu {
    display: none;
}

.menu {
    float: right;
}

.menu .icon {
    position: absolute;
    right: 0;
    top: 0;
    /*position: absolute;
    right: 0;
    padding-top: 2.5rem;*/
    height: 48px;
}

nav .icon:hover {
    cursor: pointer;
}

.mobile-menu {
    display: none;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: var(--neutral-dark);
    overflow: hidden;
}

.mobile-menu p {
    color: var(--primary-color);
    line-height: 400%;
    text-decoration: none;
}

.mobile-menu p:hover{
    background: var(--neutral-dark);
}

.mobile-menu ul {
    width: 105%; /* what is adding the extra width? */
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/**** BODY ****/

main {
    margin-bottom: var(--in-between);
}

main h2 {
    text-align: center;
    margin-bottom: 1.5rem;
}

section {
    margin-top: var(--in-between);
}

.heading-divider {
    width: 4rem;
    height: 2px;
    margin: 0 auto;
    background-color: var(--secondary-color);
}

.main-heading {
    margin-bottom: var(--in-between);
}

li.project {
    margin-bottom: 3rem;
}

#snapsack .project-img {
    background: var(--snapsack-bg);
}

#assorted .project-img{
    background: #FFCE99;
}

.project h3 {
    margin-bottom: 0em;
}

.project-img {
    width: 100%;
    height: 50vh;
    min-height: 20rem;
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.project-img img {
    width: 100%;
}

.project-desc {
    margin: 0 auto;
    padding: 2em;
}

/**** FOOTER ****/
footer {
    background-color: var(--neutral-dark);
}

#contact {
    width: var(--mobile-margin);
    margin: 0 auto;
    padding-top: var(--in-between);
    padding-bottom: var(--in-between);
}

footer h2, 
footer h4,
footer p {
    color: white;
}

footer h4 {
    margin-bottom: 0rem;
}

.orbit {
    /*width: var(--mobile-margin);*/
    width: 16rem;
    /*max-width: 15rem;*/
    margin: 0 auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.icons {
    position: absolute;
}

.icons img {
    position: relative;
}

.icons #mail {
    left: 7rem;
    bottom: 16rem;
}

.icons #github {
    left: 7rem;
    bottom: 2.5rem;
}

.icons #linkedin {
    bottom: 9.25rem;
    left: 0.5rem;
}

.icons #dribbble {
    bottom: 9.25rem;
    left: 13.5rem;
}

.copyright {
    width: 100%;
    height: 5rem;
    background: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.copyright p {
    width: var(--mobile-margin);
    margin: 0 auto;
    text-align: center;
    color: var(--neutral-dark);
}

@media only screen and (min-width: 320px) {

/**** HERO ****/
header {
    background-position: 80% 18%;
}

header .clouds .left {
    width: 80%;
}

#scroll-down {
    top: 78%;
}

/**** NAV BAR ****/
nav {
    height: 5rem;
}

.menu ul, #home, .menu li{
    padding-right: 1.5rem;
    line-height: 5rem;
}

#home {
    margin-top: 1rem;
    left: 50%;
}

#home img{
    height: 3rem;
}

.menu .icon {
    display: block;
    padding-top: 1.5rem; 
    padding-right: 1.5rem;
    height: 32px;
}

@media only screen and (min-width: 375px) {

    /**** HERO ****/
    header {
       background-size: 13rem;
    }

   header .clouds .left {
       width: 75%;
   }
}

@media only screen and (min-width: 500px) {

    h1 {
        font-size: 2.25em;
        margin-bottom: -0.1em;
    }

    /**** HERO ****/
    header {
        background-image: url("../img/planet.svg");
        background-size: 14rem;
        background-position: 90% calc(var(--nav-bar-height) - 2rem);
    }

    #scroll-down {
        top: 72%;
    }

    header .clouds .left {
        width: 55%;    
        max-height: cacl( 50% * 40rem);
    }

    /**** PROJECTS ****/
    .project {
        width: 70%;
        max-width: 24rem;
        margin: 0 auto;
    }
    
    .project-img {
        max-height: 24rem;
    }
}

@media only screen and (min-width: 768px) {

    body {
        font-size: 11pt;
    }

    h1 {
        font-size: 3em;
        margin-bottom: -0.1em;
    }

    h2 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 2em;
    }

    h4 {
        font-size: 1.5em;
    }

    .main-heading {
        margin-top: 8rem;
    }

    .heading-divider {
        width: 8rem;
        height: 4px;
    }


    /**** HERO ****/
    header {
        min-height: 36rem;
        max-height: 44rem;
        background-size: 16rem;
        background-position: 90% calc(var(--nav-bar-height) - 1rem);
    }

    #scroll-down {
        top: 70%;
    }

    header .clouds .left {
        width: 45%;
    }

    header .clouds .right {
        visibility: visible;
        width: 65%;
        right: 0;
    }

    header h2 {
        width: 90%;
    }

    header h5 {
        max-width: 36rem;
    }

    /*header .clouds .right {
        display: block;
        position: absolute;
        bottom: -1.333rem;
        right: -24rem;
        width: 100vw;
        max-width: 24rem;
    }*/

    /**** NAV BAR ****/
    nav {
        display: none;
        height: 5rem;
    }

    .menu ul {
        display: block;
    }

    .mobile-menu, .menu .icon {
        display: none;
    }

    .desktop-menu {
        position: absolute;
        top: 0;
        right: 0;
        display: inline-block;
    }

    .desktop-menu li {
        display: inline-block;
    }

    .desktop-menu p {
        color: var(--neutral-dark);
    }

    #home {
        margin-top: 1rem;
        left: 50%;
    }

    #home img{
        height: 3rem;
    }

    /**** FOOTER ****/
    .orbit {
       float: right;
       margin-top: -9rem;
    }

    footer h4, footer h2, footer p {
        width: 45%;
        min-width: 24rem;
        max-width: 36rem;
    }
}

@media only screen and (min-width: 900px) {
   
    /**** HERO ****/
    header {
       background-size: 18rem;
    }

    header h2 {
       width: 100%;
    }

    header .clouds .left {
        max-width: 32rem;
    }

    header h5 {
        max-width: 42rem;
    }

    header .clouds .right {
        max-width: 48rem;
    }


    /**** BODY ****/
    .project {
        min-width: 56rem;
        max-width: 56rem;
        display: flex;
    }

    .project:nth-child(2) {
        flex-direction: row-reverse;
    }

    .project-desc, .project-img {
        width: calc(50% - 3rem);
        vertical-align: middle;
    }

    .project-img {
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .project-img {
        min-height: 24rem;
    }

    /**** FOOTER ****/
    #contact {
        max-width: 50rem;
    }

    .orbit {
        float: right;
        margin-top: -8rem;
    }

    footer h4, footer h2, footer p {
        width: 45%;
        min-width: 28rem;
    }
}

@media only screen and (min-width: 1366px) {
   
    /**** HERO ****/
   header {
       background-size: 20rem;
       background-position: 90% calc(var(--nav-bar-height) + 3rem);
   }
}

@media only screen and (min-width: 1500px) {
   
    /**** HERO ****/
   header .clouds .right {
        max-width: 60rem;
    }

    header .clouds .left {
        max-width: 40rem;
    }
}